@model List<Student>


  <a href="/Student/addStudent" class="btn btn-danger"> add Student</a>

    <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Id</th>
                 <th>Name</th>
                 <th>Phone number</th>
                 <th>parent phone number</th>
                 <th>Group name</th>
                 <th>Actions</th>
                 
            </tr>
    @foreach(var item in Model){
        
       
      <tr>
            <td>@item.Id</td>
        <td>@item.Name</td>
        <td>@item.Stud_Phone_number</td>
        <td>@item.Stud_Parent_Phone_number</td>
        <td> @foreach(Group group in ViewBag.Groups)
            if(group.Id == @item.groupId){
                @group.Name;
            }
            
            
            </td>

            <td> <a href="updateStudent/@item.Id" class="btn btn-danger"> Update </a>
            
              <a href="#" class="btn btn-danger" style="margin:10px;" onclick="confirmDelete(@item.Id)"> delete </a>
            </td>
            
        


      </tr>
       


        
    }

    </table>

    <script>
    function confirmDelete(studentId) {
        // SweetAlert confirmation dialog
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes, delete it!',
            cancelButtonText: 'No, cancel!',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                // If confirmed, redirect to the delete action
                window.location.href = 'deleteStudent/' + studentId;
            }
        });
    }
</script>



